<div>
    <h1>Recipe Name</h1>
</div>
<div>
    <div class="relative group">
                    <button class="hover:text-yellow-300 flex items-center">
                        Manage ▼
                    </button>

                    <!-- Dropdown Menu -->
                    <div class="absolute hidden group-hover:block bg-white text-black rounded shadow-lg mt-2 w-32">
                        <a href="#" class="block px-4 py-2 hover:bg-gray-200">Data</a>
                        <a href="#" class="block px-4 py-2 hover:bg-gray-200">Fetch</a>
                    </div>
    </div>
</div>
<div>
    <ul>
        <li>To Shopping List</li>
        <li>Edit Recipe</li>
        <li>Delete Recipe</li>
    </ul>
</div>
<div>
    <p>description</p>
</div>
<div>
    <p>Ingredients</p>
</div>